<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat ut lacus vulputate mollis. Phasellus odio risus, ullamcorper eget orci vel, porttitor tincidunt est. Nullam et nunc ligula. Mauris vehicula, metus eget dignissim dictum, quam dolor iaculis nisi, vel egestas turpis velit sit amet elit. Mauris vehicula lectus malesuada ipsum posuere sollicitudin. Sed sit amet consequat lorem. Praesent condimentum dignissim urna non condimentum. Nunc iaculis eros non neque sodales, quis tempus massa tristique. Integer porta eros at posuere tristique. Suspendisse pulvinar congue lectus sit amet lacinia. Maecenas lacinia placerat turpis nec ultricies. Nunc malesuada quis ante quis egestas. Mauris id lorem in lectus rhoncus ornare in vitae est. Phasellus quis odio eu libero lobortis sagittis eget nec lectus. Aenean augue tortor, tempus vel pulvinar non, ullamcorper sit amet velit.
</p>